:root {
    --mainColor: #14A76C;
    --mainAccentColor: #FF652F;
    --additionalAccentColor: #E02D05;
    --headersFontColor: #1F1D2A;
    --commonFontColor: #4F5569;

    --headersFont: Nunito, sans-serif;
    --commonFont: Rubik, sans-serif;
    --accentFont: Vollkorn, serif;
    --detailFont: Inter, sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--commonFont);
    color: var(--commonFontColor);
    background-color: #F5F5F5;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    display: flex;
}

.__container {
    max-width: 1920px;
    margin: 0px auto; /* выстраивает любой блочный элемент по центру */
    padding: 0px 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}