:root {
    --mainColor: #14A76C;
    --mainAccentColor: #FF652F;
    --additionalAccentColor: #E02D05;
    --headersFontColor: #1F1D2A;
    --commonFontColor: #4F5569;

    --headersFont: Nunito, sans-serif;
    --commonFont: Rubik, sans-serif;
    --accentFont: Vollkorn, serif;
    --detailFont: Inter, sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--commonFont);
    color: var(--commonFontColor);
    background-color: #F5F5F5;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    width: 1920px;
}

._container {
    max-width: 1390px;
    margin: 0px auto; /* выстраивает любой блочный элемент по центру */
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Header */

.header {
}

.header__container {
}

.header__logo {
}

.header__logo-body {
 }

.header__logo-icon img {
}

.header__logo-text {
    font-weight: 500;
    font-size: 34.125px;
    line-height: calc(40 / 34.125 * 100%);
    color: var(--headersFontColor);
}

.header__logo-detail {
    font-size: 34.125px;
    line-height: calc(40 / 34.125 * 100%);
    color: var(--mainAccentColor);
}

.header__button {
    width: 180px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #1F1D2A;
    border-radius: 15px;
    font-size: 20px;
    line-height: calc(20 / 24 * 100%);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--headersFontColor);
}

/* Main */

    /* Main page */

.page__main-block {}

.page__description {}

.page__features {}

.page__plan {}

    /* Main main-block */

.main-block {}

.main-block__container {}

.main-block__body {}

.main-block__prev {
    font-size: 15px;
    line-height: 166%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #9FA0A7;
}

.main-block__title {
    font-family: var(--headersFont);
    font-weight: 700;
    font-size: 55px;
    line-height: 122%;
    color: var(--headersFontColor);
}

.main-block__text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--commonFontColor);
}

.main-block__row {
    display: flex;
}

.main-block__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 300px;
    height: 60px;
    background: var(--mainColor);
    box-shadow: 0px 15px 30px rgba(25, 218, 140, 0.25);
    border-radius: 15px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    font-family: var(--commonFont);
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.main-block__counter {
    display: flex;
}

.main-block__counter-body {
    display: flex;
}

.main-block__counter-item {}

.counter__number-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 70px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(215, 211, 225, 0.5);
    border-radius: 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32 * 100%);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--mainAccentColor);
}

.counter__number-value {
    font-size: 16px;
    line-height: calc(22 / 16 * 100%);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--headersFontColor);
}

.main-block__counter-item.separater {
    font-weight: 900;
    font-size: 24px;
    line-height: calc(33 / 24 * 100%);
    text-align: center;

    color: var(--headersFontColor);
    font-family: var(--headersFont);
    margin: 12px 10px 0px;
}

.counter__number-city {
    font-size: 16px;
    line-height: calc(22 / 16 * 100%);
    text-align: center;
    letter-spacing: 0.04em;

    color: #9FA0A7;
}

.main-block__image {}

    /* Main description */

.description {}

.description__container {
    width: 900px;
}

.description__body {
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--headersFontColor);
}

.description__logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--headersFontColor);

}

.description__deatails {
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--mainColor);
}

    /* Main header__box */

.header-block {}

.header-block__title {
    font-family: var(--headersFont);
    font-weight: 700;
    font-size: 32px;
    line-height: calc(44 / 32 * 100%);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--headersFontColor);
}

    /* Main features */

.features {}

.features__container {}

.features__header {}

.features__body {
    display: flex;
}

.features__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 35px 0px;
    gap: 8px;

    width: 445px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(215, 211, 225, 0.5);
    border-radius: 16px;
}

.features__text {
    line-height: calc(24 / 20 * 100%);
    letter-spacing: 0.04em;
    color: var(--commonFontColor);
}

.features__link {
    line-height: calc(24 / 20 * 100%);
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--mainAccentColor);
}

    /* Main plan */

.plan {}

.plan__container {}

.features__header {}

.header-block {}

.header-block__title {}

.plan__body {}

.plan__column {}

.plan__column-count {
    position: absolute;
    height: 80.03px;
    background: var(--mainAccentColor);
    border-radius: 90px;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.plan__column-text {
    line-height: calc(24 / 20 * 100%);
    letter-spacing: 0.04em;
    color: var(--commonFontColor);
}

.plan__column-link {
    line-height: calc(24 / 20 * 100%);
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--mainColor)
}


